
body {
    font-family: Poppins, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    background-image:url(wallpaper\ solusi.jpg)
}

.navbar {
    width: 100%;
    background: #e876e8; 
    padding: 22px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.navbar .logo {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 0;
}

.nav-links li a,
.dropbtn {
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.nav-links li a:hover,
.dropbtn:hover {
    background: rgba(184, 61, 61, 0.25);
}

.nav-links .active {
    background: rgba(255,255,255,0.35);
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #f38ed9;
    min-width: 180px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    top: 40px;
    overflow: hidden;
}

.dropdown-content a {
    color: #333;
    padding: 12px 18px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.dropdown-content a:last-child {
    border-bottom: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.header-solusi {
    background: linear-gradient(135deg, #f5d6ff, #c69bd6ce);
    color: white;
    text-align: center;
    padding: 60px 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.header-solusi h1 {
    font-size: 42px;
    margin: 0;
    letter-spacing: 1px;
}

.header-solusi p {
    margin-top: 10px;
    font-size: 18px;
}

.solution-container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.solution-box {
    background: white;
    border-radius: 15px;
    border: 4px solid #5829a7; 
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    transition: 0.3s;
    animation: fadeUp 0.7s ease;
}

.solution-box:hover {
    transform: scale(1.02);
}

.solution-box img {
    width: 190px;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    border: 3px solid #4d5bdc;
}

.solution-text h3 {
    margin: 0 0 8px 0;
    color: #3d0066; 
}

.solution-text p {
    margin: 0;
    color: #333;
    line-height: 1.6;
}


.program-section {
    width: 90%;
    max-width: 1000px;
    margin: 60px auto;
    text-align: center;
}

.program-section h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
    color: #5e60ce; 
}

.program-box {
    background: white;
    border-left: 5px solid #ab3585; 
    border-right: 5px solid #ab3585;
    border-top: 5px solid #ab3585;
    border-bottom: 5px solid #ab3585;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
    animation: fadeUp 0.8s ease;
}

.program-box h3 {
    margin-top: 0;
    color: #d139ba;
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.next-btn {
  background-color: #af5eb9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.next-btn:hover {
  background-color: #ff8aab;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 4rem;
}