* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("blue.jpg");
    background-size: cover;
    background-attachment: fixed;
}


.navbar {
  background: linear-gradient(135deg, #8ecae6 0%, #8ecae6 100%);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.nav-links .active {
    background: rgba(255,255,255,0.35);
    font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #90e0ef;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  margin-top: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background 0.2s ease;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}


.hero {
    background: linear-gradient(#cce6ff, #cce6ff);
    text-align: center;
    padding: 70px 20px;
    color: rgb(77, 162, 242);
}

.hero h1 {
    font-size: 35px;
    font-weight: 700;
}

.hero p {
    font-size: 20px;
    margin-top: 8px;
}

.content-box {
    background: #c4e7eb;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.left-images {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.left-images img {
    width: 100%;
    border-radius: 12px;
}

.right-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-text h2 {
    margin-bottom: 15px;
    font-size: 26px;
    color: #274c77;
}

.right-text p {
    line-height: 1.7;
    margin-bottom: 12px;
    font-size: 16px;
}

.next-btn {
  background-color: #5a98ce;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  align-items: center;
}

.next-container {
  text-align: center;
  margin-top: 20px;
}


.next-btn:hover {
  background-color: #72c0f1;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 4rem;
}


@media(max-width: 850px) {
    .content-box {
        flex-direction: column;
    }

    .left-images, .right-text {
        width: 100%;
    }
}
